<div id="main-content" class="row">

  <div class="col-sm-5 col-sm-offset-1">
    <br>
    <div class="panel">
      <h2> Hours: </h2>
      <p>
        Tuesday through Sunday
        <br> 5:30am - 2:30am
        <br> Closed Sundays
      </p>
    </div>
    <div class="panel">
      <h2>Address: </h2>
      <div>
        <p> 630 Central Ave,
          <br>Alameda, CA 94501
        </p>
      </div>

    </div>
  </div>
  <div class="col-sm-5">
    <app-map></app-map>
  </div>
  <div class="col-sm-1">
  </div>
</div>
