  <h4>breakfast & <br>
    BRUNCH
  </h4>

  <h5>THE STANDARD | 12 </h5>
    <p>2 eggs any style, toast, bacon <br>
    side of house sald or hash browns
  </p>

  <h5>HANDTOWN FRY | 15</h5>
  <p>Omelette with bacon, fried oysters,<br>
    local herbs side of house salad or hash browns
  </p>

  <h5>FARMER'S SCRAMBLE | 13</h5>
  <p> Hollandaise made to order, poached eggs, sauteed greens <br>
  add bacon 3
</p>

  <h4>WAFFLES </h4>
    <h5>SWEET | 13</h5>
    <p>seasonal fruit, sweet house ricotta, <br>
      local honey, and toasted almonds
  </p>

  <h5>SAVORY | 12 </h5>
  <p> bacon batter with tomato jam </p>
