div.col-md-6 {
  text-align: center;
}

div.col-md-6 li a {
  font-weight: bolder;
  font-size: 110%;
  font-family: 'RockSalt', fantasy;
}

app-slide+h2 {
  text-align:center;
}
app-slide+h2+img.image-responsive{
  width:28em;
  height:21em;
}

section.menu-wrapper {
height:25em;
overflow-y: scroll;
}
