  <div class="col-lg-6 col-md-6 col-sm-6">
    <app-carousel [interval]="NextPhotoInterval">
      <app-slide *ngFor="let slidez of slides; let index = index;" [active]="slidez.active">
        <h2 class="dish-name">{{slidez.text}}</h2>
        <img [src]="slidez.image" class="img-responsive">
      </app-slide>
    </app-carousel>
  </div>
  <br><br>

  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="menu-options">
      <header id="menu-title">
        <h3>
          Today's Catch 
        </h3>
      </header>
      <br>
      <app-brunch id="brunch"></app-brunch>
      <app-entrees id="entrees"></app-entrees>
      <app-small-dishes id="small-dishes"></app-small-dishes>
      <app-sides id="sides"></app-sides>
    </div>
  </div>
