<h2 id="mealtime">lunch ENTREES
</h2>
<h5 id="item-name">MARKET SALAD | 12 </h5>
<p>
  Seasonal veggies, meyer lemon Vinaigrette, Parmesan Reggiano & pain de mie toast add Seared Chicken breast 4
</p>
<h5>NEPTUNE'S BURGER | 13.50 </h5>
<p>Umami Mayo, Brioce Bun, Lettuce pickled onion, swiss cheese, tomato jam, pickles & fries
  <br> add Form egg 2.50
  <br> add Bacon 3
</p>
<h5 id="item-name">CHEESY SHRIMP & GRITS | 14 </h5>
<p>Anson mill white grits, mild chedder, pink bay shrimp, topped with brekkie sauce
  <br> add fried oysters 4
</p>
<h5 id="item-name">FRIED CHICKEN WITH WAFFLES | 16 </h5>
<p>hot sauce glaze and side of salad</p>
<h5 id="item-name">TSELOG STYLE | 16</h5>
<p>with chicken fat fried rice, fried egg, and house pickles</p>
<h5 id="item-name">NOT ZIPPY'S CHILI AND RICE | 14 </h5>
<p>Bailey Farms pork, spam, Black turtle with Beans over rice
  <br> add farm egg 2.50
</p>