<section>
  <h4>lunch <br>
ENTREES
</h4>
  <h5>MARKET SALAD | 12 </h5>
  <p>
    Seasonal veggies, meyer lemon
    <br> Vinaigrette, Parmesan Reggiano,
    <br> & pain de mie toast add Seared Chicken breast 4
  </p>
  <h5>NEPTUNE'S BURGER | 13.50 </h5>
  <p>Umami Mayo, Brioce Bun, Lettuce pickled onion,
    <br> swiss cheese, tomato jam, pickles & fries
    <br> add Bacon 3
    <br> add Form egg 2.50
  </p>
  <h5>CHEESY SHRIMP & GRITS | 14 </h5>
  <p>Anson mill white grits, mild
    <br> chedder, pink bay shrimp, topped
    <br> with brekkie sauce
    <br> add fried oysters 4
  </p>
  <h4>FRIED CHICKEN</h4>
  <h5>WITH WAFFLES | 16 </h5>
  <p>hot sauce glaze and side of salad</p>
  <h5>TSELOG STYLE | 16</h5>
  <p>with chicken fat fried rice, <br> fried egg, and house pickles</p>
  <h5>NOT ZIPPY'S CHILI AND RICE | 14 </h5>
  <p>Bailey Farms pork, spam, Black turtle <br>
    Beans over rice <br>
     add farm egg 2.50
  </p>
</section>
