<div class="bkg-image">
  <header id="title">
    <p>Neptunes</p>
  </header>
  <div #sideNav id="sideNav">
    <a class="closebtn" (click)="closeNav(sideNav, navMenu)">&times;</a>
    <a (click)="closeNav(sideNav, navMenu,'/menu')" >Menu</a>
    <a (click)="googleLink()">Directions</a>
    <a (click)="closeNav(sideNav, navMenu, '/info')" >Info</a>
    <a (click)="closeNav(sideNav, navMenu, '/contact-us')" >Contact Us</a>
  </div>

  <nav #navMenu id="hamburger-nav" [ngClass]="{sticky: navIsFixed}" class="navbar navbar-inverse">
    <button type="button" class="navbar-toggle" id="openNavButton" (click)="openNav(sideNav, navMenu)">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a target="_blank" href="https://github.com/relative-rene/responsivemenu" class="visible-xs navbar-brand">relative-rene
      <i class="devicon-github-plain-wordmark"></i>
    </a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul (click)="viewJump(content)" class="nav nav-justified">
        <li>
          <a id="nav-label" routerLink="/menu">Menu</a>
        </li>
        <li>
          <a id="nav-label" (click)="googleLink()">Directions</a>
        </li>
        <li>
          <a id="nav-label" routerLink="/info">Info</a>
        </li>
        <li>
          <a id="nav-label" routerLink="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<main #content id="content">
  <router-outlet></router-outlet>
</main>