<h2 id="mealtime">

    breakfast &
    <br> BRUNCH
</h2>
<h5 id="item-name">
    THE STANDARD | 12
</h5>
<p>
    2 eggs any style, toast, bacon side of house sald or hash browns
</p>
<h5 id="item-name">
    HANDTOWN FRY | 15
</h5>
<p>
    Omelette with bacon, fried oysters,
    local herbs side of house salad or hash browns
</p>
<h5 id="item-name">
    FARMER'S SCRAMBLE | 13
</h5>
<p>
    Hollandaise made to order, poached eggs, sauteed greens add bacon 3
</p>

<h5 id="item-name">
    WAFFLES SWEET | 13
</h5>
<p>
    seasonal fruit, sweet house ricotta, local honey, and toasted almonds
</p>
<h5 id="item-name">
    SAVORY | 12
</h5>
<p>
    bacon batter with tomato jam
</p>