html, body, h1, h2, h3, h4, h5, p, ol, ul, li, a {
  ! padding: 0;
  ! border: 0;
  font-family: "RockSalt", fantasy;
}

@font-face {
  font-family: "RockSalt";
  src: url('https://fonts.googleapis.com/css?family=Rock+Salt');
}

div.jumbo {
  position: relative;
  width: 100%;
  height: 100%;
}

h1#title span {
  font-family: "RockSalt", cursive;
  font-size: 2em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

app-slide img {
  height: 300px;
  width: 60%;
  margin: 0 auto;
}
nav.navbar-inverse {
  font-size: 1.5em;
  font-weight:800;
}

footer.page-footer {
  padding-top: 3em;
  margin: 1em;
}



/*
Future imports
font-family: "Gotham Thin";
font-family: "Gotham Light";
font-family: "Gotham Book";
font-family: "Gotham Bold";
font-family:"HelveticaNeueBold";
font-family: "HelveticaNeueLight";*/
