/* Set Default  */

* 
{
    font-family: 'RockSalt', fantasy;
    color: rgba(51,51,51, .8);
    margin: 0; 
    padding: 0;
}

body, html {
    height: 100%;
}

header#title
{
    font-size: 4em;
    text-align: center;
    color: rgba(51,51,51, 1);
}

header#menu-title 
{
    font-family: 'RockSalt', cursive;
    font-weight: 900;
    color: rgba(51,51,51, 1);

}

div.bkg-image 
{
    position: relative;
    background: no-repeat url('/assets/skyNwater.jpg');
    top: 0;
    border-bottom: 4em solid #283018;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:2;
}

a.visible-xs.navbar-brand 
{
    color:#f0eceb;
}

div#myNavbar {
      z-index: 99;
}

h1#caption 
{
    left: 0;
    position: absolute;
    text-align: center;
    top: 140px;
    transition: top 3s, left 3s;
    width: 100%;
    font-family: 'RockSalt', cursive;
    color: rgba(51,51,51, .9);

}

nav.navbar-inverse
{
    float:left;
    display: block;
    width: 100%;
    height: 60px;
    font-size: 1.8em;
    font-weight: 800;
    margin: 0;
    background-color: #aa863a;
    border: 1px inset #f0eceb;
    opacity:1;
    z-index:3;
}

a#nav-label 
{ 
    color:#f0eceb;
}

a#nav-label:hover, a#nav-label:active, a#nav-label:focus 
{
    color:#f0eceb;
    background-color: #729f98;
}

.sticky 
{
    position: fixed !important;
    top: 0;
    transition: top 3s;
    width: 100%;
}

main#content, div#main-content
{
    height: 460px;
    padding: .5em;
    margin: .5em;
}

.sticky + #content 
{
    padding-top: 90;
}
i.devicon-github-plain-wordmark 
{
    color: #f0eceb;
    padding: 0 .3em;
    font-size: 2em;
}

img.img-responsive
{
    height: 350px;
    margin: 0 auto;
    width: 340px;
    padding: 15px 15px 40px 15px;
    border: 1px solid rgba(51,51,51,.4);
    background-color: #f0eceb;
    box-shadow: 5px 14px 10px #aaaaaa;
}


h2.dish-name 
{
    text-align: center;
    color: rgba(51,51,51, .9);
    padding-top: 1em;
}

h2#mealtime 
{
    color:rgba(51,51,51, 1);
    font-size:1.5em;
}


/* Menu */
.sebm-google-map-container 
{
    height: 300px;
    padding: 1em;
    margin: .5em;
}  

div.menu-options 
{
    height: 440px;
    overflow-y: scroll;
    text-align: center;
}

#item-name 
{
    text-align: left;
    font-family: 'RockSalt', cursive;
    font-size: 1.2em;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #aa863a;
    border: 1px inset #f0eceb;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f0eceb;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav a.closebtn {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 36px;
    padding:0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
